.App {
  height: 100vh; width: 100vw;
  background-color: pink;
  display: grid;
  overflow-x: hidden;
}
@media screen and (min-width: 1201px) {
  .App {
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-auto-flow: column dense;
  }
  .App div.FourBar {
    /* grid-column: span 2; */
  }
  .App div.Trio {
    /* background-color: red; */
    grid-column: span 2;
    grid-row: span 3;
  }
  .App div.Dimmer {
    grid-row: span 3;
  }
  .App div.Control {

  }
}
@media screen and (max-width: 1200px) {
  .App {
    grid-auto-columns: auto;
  }
  .App div.Trio {
    /* background-color: red; */
    grid-column: span 2;
    grid-row: auto;
  }
  .App div.Dimmer {
    grid-column: span 2;
  }
}
@media screen and (max-width: 1000px) {
  .App {
    grid-auto-columns: auto;
  }
}
@media screen and (max-width: 800px) {
  .App {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
  }
}

.App>* {
  border: 1px solid #888;
}

.App > div:nth-child(1n) {
  background-color: #CFCFCF;
}
.App > div:nth-child(2n) {
  background-color: #BFBFBF;
}
.App > div:nth-child(3n) {
  background-color: #AFAFAF;
}
.App > div:nth-child(4n) {
  background-color: #9F9F9F;
}
.App > div:nth-child(5n) {
  background-color: #8F8F8F;
}