.Dimmer {
  /* background-color: #DFDFDF; */

  position: relative;
  height: 100%; width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  place-items: center;
}

.Dimmer > * {

}

.Dimmer .deviceLabel {
  grid-column: 1 / 2;
  grid-row-start: 1;
}