.deviceLabel {
  grid-area: name;
  text-align: center;
  font-size: 1.2em;
}

.Widget {

}

.NumberLabel {

}

.NumberSelector {

}

.Button {

}

.Switch {

}

.XYPad {

}

.ColorXY {

}

.Knob {
  background-color: #000;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.Knob input {
  -webkit-appearance: none;
  /* width: 100px; */
  border-radius: 100%;
}
.Knob input:focus {
  outline: none;
  border: none;
}
.Knob input:-moz-focusring{
    /* outline: 1px solid white;
    outline-offset: -1px; */
}
.Knob input::-webkit-slider-runnable-track,
.Knob input::-moz-range-track {
  width: 100px;
  height: 100px;
  background: #F00;
  border: none;
  border-radius: 100%;
}
.Knob input::-webkit-slider-thumb,
.Knob input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 10px;
  background: #0F0;
  border: none;
  margin: 0;
  padding: 0;
}

.Fader {

}
.Fader .NumberSelector input {

}
.Fader .NumberLabel {
}

.HorizontalFader {

}